.my-search{
    background-color:
    #e5e5e5 ;
}

.my-side-bar{
    height: calc(100vh - 54px);
    width: 150px;

    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

.my-main{
    height: calc(100vh - 54px);
    width:  calc(100vw - 150px);
}

.my-nav-main{
    background-color: #1b72e8;
}

.my-list{
    transition: ease .2s;
}

.my-list:hover{
    background-color: rgb(189, 187, 187);
    cursor: pointer;
}

.my-btn{
    background-color: #165bba;
    font-size: 10px;
}

.my-img{
    height: 25px;
    width: 25px;
}

.my-nav-img{
    height: 38px;
}

.my-code{
    background-color: #f26551;
    font-size: 15px;
    color: white;

    padding: 10px 8px;
    border-radius: 25px;
}

.my-span{
    font-size: 15px;
    text-align: center;
}

.my-th{
    font-size: 15px;
    font-weight: normal;
}

@media screen and (max-width: 991.98px) {
    .my-side-bar{
        height: calc(100vh - 54px);
        width: 70px;
    
        background-image: url(../img/sidebar-bg.png);
        background-color: #051e34;
    }
    
    .my-main{
        height: calc(100vh - 54px);
        width:  calc(100vw - 70px);
    }
}
